.my-expenses{
    background-color: #202020;
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}

.no-expense-header{
    color:white;
    text-align: center;
}

.expenses-list {
    list-style: none;
    padding: 0;
}
